.thesearchpanel {
  max-width: 68rem;
  margin:1rem auto 0;
  text-align: center;
}
.searchtoggler {
  position: relative;
  display: inline-block;
  //background-color: $xlight-gray;
  //border-bottom:1px dotted $light-gray;
  line-height: 1;
  padding:0 0;
  font-size: 1.25rem;
  fill: currentColor;
  //border-radius: 3px;
  margin:0 auto 0;
  //text-transform: uppercase;


  &:hover, &:focus {
    color:$red;
  }

  svg {
    margin-left: .0875em;
    width:.875em;
    height:.875em;
    display: inline-block;
    //transform: translateY(.0875em);

  }

  .is-open & {
    opacity: 0;
  }

}
.search-form {
  display: none;
  position: absolute;
  top:-2.5rem;
  width:100%;
  z-index:1;
  //@include clearfix();

  label {
    position: relative;
    display: block;
    svg {
      display: block;
      position: absolute;

      right:.333rem;
      top:.666rem;
      width:.75em;
      height:.75em;

    }
  }

  .is-open & {
    display: block;
  }

}

input[type="search"].search-field {
  font-size: 1.5rem;
  line-height: 1;
  //padding: .333em .5em;
  padding:1em 1em;
  border-radius: 3px;
  //width:6rem;
  width:100%;
  background-color: $xlight-gray;
  border:1px solid $light-gray;
  opacity: 0;
  &:focus {
    // font-size: 1.5rem;
    // padding:1em 1em;
    // width:100%;
    opacity: 1;
  }
}

.search-submit {
  width:11rem;
  display: none;
  float:left;
  padding: 1.4666rem 1rem !important;
  border-radius: 0 5px 5px 0 !important;
}


.searchcontent {

}

.searchcontent.loading > * {
    opacity:0.2;
}

.searchcontent.loading:before {
    content: "Loading New Posts";
    padding: 1em;
    background: #000;
    color: #fff;
    width: 100%;
    display: block;
}

.site-footer {
  background-color: $xlight-gray !important;
}
.lightfooter {
  background-color: $xlight-gray;
  padding:6rem 0 2rem;
}
/*** Search ****/
.searchtags {
  @include clearfix();
}

.searchtags__elem {
  width: 50%;
  float: left;
  padding:0 .5rem;
}
.searchtags__elem--full {
  width: 100%;
  float: none;
}

@media only screen and (min-width: 768px) {
  .searchtags__elem {
    width:33.333%;
    padding:0 1rem;
  }
  .searchtags__elem--full {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  .searchtags__elem {
    width:25%;
  }
  .searchtags__elem--full {
    width: 100%;
    float: none;
  }
}

.searchtags__elem h3{
  font-size: 14px;
  margin:0 0 .25em;
}


.termlist {
  list-style: none;
  font-size: 12px;
}

.termlist__item {
  display: inline-block;
}


.termlist__item:not(:last-of-type):after {
  content:' | ';
}

.termlist__item .count {
  font-weight: bold;
  color:#dd3333;
}